body {
  background: linear-gradient(
    122.3deg,
    rgb(111, 71, 133) 14.6%,
    rgb(232, 129, 166) 29.6%,
    rgb(237, 237, 183) 42.1%,
    rgb(244, 166, 215) 56.7%,
    rgb(154, 219, 232) 68.7%,
    rgb(238, 226, 159) 84.8%
  );
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #e58cdb;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: -10px;
}

form {
  padding: 30px;
  background: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 30px;
  display: flex;
  margin-bottom: 30px;
  width: 500px;
}

.instructions {
  padding: 16px;
  border: black;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: pink;
  display: flex;
}

.submit-button {
  margin-left: 10px;
  background: #d4a5a5s;
  color: black;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: whitesmoke;
  padding: 20px;
  width: 450px;
  line-height: 2;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  border-radius: 20px;
  margin-left: 30px;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: black;
}
